In [1]:
import pandas as pd

In [27]:
df_1 = pd.read_csv('74-59.csv', sep=',')[['PREDICT']].T
df_1['TARGET'] = 74.59
df_int = df_1

df_2 = pd.read_csv('74-5614.csv', sep=',')[['PREDICT']].T
df_2['TARGET'] = 74.5614
df_int = df_int.append(df_2)

df_3 = pd.read_csv('75-1.csv', sep=',')[['PREDICT']].T
df_3['TARGET'] = 75.1
df_int = df_int.append(df_3)

df_4 = pd.read_csv('75-45.csv', sep=',')[['PREDICT']].T
df_4['TARGET'] = 75.45
df_int = df_int.append(df_4)

df_5 = pd.read_csv('75-54.csv', sep=',')[['PREDICT']].T
df_5['TARGET'] = 75.54
df_int = df_int.append(df_5)

df_6 = pd.read_csv('75-58.csv', sep=',')[['PREDICT']].T
df_6['TARGET'] = 75.58
df_int = df_int.append(df_6)

df_7 = pd.read_csv('75-65.csv', sep=',')[['PREDICT']].T
df_7['TARGET'] = 75.65
df_int = df_int.append(df_7)

df_8 = pd.read_csv('75-83.csv', sep=',')[['PREDICT']].T
df_8['TARGET'] = 75.83
df_int = df_int.append(df_8)

df_9 = pd.read_csv('75.csv', sep=',')[['PREDICT']].T
df_9['TARGET'] = 75.00
df_int = df_int.append(df_9)

df_10 = pd.read_csv('76-15.csv', sep=',')[['PREDICT']].T
df_10['TARGET'] = 76.15
df_int = df_int.append(df_10)

df_11 = pd.read_csv('76-79.csv', sep=',')[['PREDICT']].T
df_11['TARGET'] = 76.79
df_int = df_int.append(df_11)

df_12 = pd.read_csv('76-1506.csv', sep=',')[['PREDICT']].T
df_12['TARGET'] = 76.1506
df_int = df_int.append(df_12)

df_13 = pd.read_csv('76-3949.csv', sep=',')[['PREDICT']].T
df_13['TARGET'] = 76.3949
df_int = df_int.append(df_13)

df_14 = pd.read_csv('im-76-79.csv', sep=';')[['PREDICT']].T
df_14['TARGET'] = 76.79
df_int = df_int.append(df_14)

df_15 = pd.read_csv('im-76-85.csv', sep=';')[['PREDICT']].T
df_15['TARGET'] = 76.85
df_int = df_int.append(df_15)

df_16 = pd.read_csv('im-78-41.csv', sep=',')[['PREDICT']].T
df_16['TARGET'] = 78.41
df_int = df_int.append(df_16)

df_17 = pd.read_csv('im-76-92.csv', sep=',')[['PREDICT']].T
df_17['TARGET'] = 76.92
df_int = df_int.append(df_17)

df_18 = pd.read_csv('im-78-76.csv', sep=',')[['PREDICT']].T
df_18['TARGET'] = 78.76
df_int = df_int.append(df_18)

df_int.reset_index(drop = True, inplace = True)

df_int.to_csv('integral.csv', index=False)
df_int

,0,1,2,3,4,5,6,7,8,9,...,342,343,344,345,346,347,348,349,350,TARGET
0,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,74.5900
1,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,0,74.5614
2,1,0,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,75.1000
3,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,75.4500
4,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,0,75.5400
5,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,75.5800
6,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,0,75.6500
7,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,75.8300
8,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,0,75.0000
9,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,76.1500
10,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,0,76.7900
11,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,76.1506
12,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,0,76.3949
13,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,76.7900
14,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,0,76.8500
15,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,78.4100
16,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,76.9200